{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_extra_head %}
    <style>
        .cell {
            border-radius: 5px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            vertical-align: middle;
            float: left;
            margin: 3px;
            background: #ffff7f;
        }
    </style>
{% endblock %}

{% block bootstrap3_content %}
    <a href="{% url 'move' object.pk 1 %}">↑</a>
    <a href="{% url 'move' object.pk 2 %}">←</a>
    <a href="{% url 'move' object.pk 3 %}">↓</a>
    <a href="{% url 'move' object.pk 4 %}">→</a>
    <a href="{% url 'save' object.pk %}">Save</a>
    <br>
    <a href="#" onclick="get(1)">↑</a>
    <a href="#" onclick="get(2)">←</a>
    <a href="#" onclick="get(3)">↓</a>
    <a href="#" onclick="get(4)">→</a>

    <div id="table">
        {% for line in object.get_grid.m %}
            <div class="t-row" id="t-row-{{ forloop.counter0 }}">{% for cell in line %}
                <div class="cell" id="cell-{{ forloop.counter0 }}">{{ cell }}</div>
            {% endfor %}</div><div class="clearfix"></div>
        {% endfor %}
    </div>

    <dl>
        <dt>Primary Key</dt>
        <dd id="pk">{{ object.pk }}</dd>
        <dt>Direction</dt>
        <dd id="direction">{% if direction %}{{ direction }}{% endif %}</dd>
        <dt>Slides</dt>
        <dd id="slides">{% if slides %}{{ slides }}{% endif %}</dd>
        <dt>pop</dt>
        <dd id="pop">{% if pop %}{{ pop }}{% endif %}</dd>
        <dt>next</dt>
        <dd id="next">{% if next %}{{ next }}{% endif %}</dd>
    </dl>
{% endblock %}

{% block bootstrap3_extra_script %}
    <script>
        function get(direction) {
            var url = '/move/' + $('#pk').text() + '/' + direction;
            $.get(url, function(data) {
                if (data.direction) {
                    if (data.direction == 2) {
                        if (data.slides) {
                            data.slides.forEach(function(slide) {
                                $('#t-row-' + slide[0]).append('<div class="cell" style="width: 0; margin: 3 0 3 0" id="tmp-' + slide[0] + '-' + slide[1] + '">0</div>');
                                $('#tmp-' + slide[0] + '-' + slide[1]).animate({width: 50, margin: 3}, 400, 'linear');
                                $('#t-row-' + slide[0] + ' #cell-' + slide[1]).animate({width: 0, margin: 0, padding: 0}, 400, 'linear', function() {
                                    $(this).remove()
                                });
                            });
                        }
                        if (data.next) {
                            setTimeout(function() {
                                $('.cell').remove()
                                for (var i = 0; i < {{ object.H }}; i++) {
                                    for (var j = 0; j < {{ object.W }}; j++) {
                                        $('#t-row-' + i).append('<div class="cell" id="cell-' + j + '">' + data.next[i * {{ object.W }} + j] + '</div>');
                                    }
                                }
                            }, 400);
                        }
                    } else {
                        $('#direction').text(data.direction);
                        if (data.slides) { $('#slides').text(data.slides); }
                    }
                }
                setTimeout(function() {
                    if (data.pop) {
                        $('#t-row-' + data.pop[0] + ' #cell-' + data.pop[1]).animate({ width: 56, height: 56, margin:0}, 100, 'linear', function() {
                            $(this).animate({ width: 50, height: 50, margin: 3}, 100);
                        })
                    }
                }, 400);
            });
        }
    </script>
{% endblock %}
