{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_extra_head %}
    <style>
        .row { display: table-row; }
        .cell {
            border-radius: 5px;
            display: table-cell;
            width: 50px;
            height: 50px;
            text-align: center;
            vertical-align: middle;
        }
        .pop { background: rgba(0,0,255,0.5); }
    </style>
{% endblock %}

{% block bootstrap3_content %}
    <a href="{% url 'move' object.pk 1 %}">↑</a>,
    <a href="{% url 'move' object.pk 2 %}">←</a>,
    <a href="{% url 'move' object.pk 3 %}">↓</a>,
    <a href="{% url 'move' object.pk 4 %}">→</a>,
    <a href="{% url 'save' object.pk %}">Save</a>
    <br>
    <a href="#" onclick="get(1)">↑</a>,
    <a href="#" onclick="get(2)">←</a>,
    <a href="#" onclick="get(3)">↓</a>,
    <a href="#" onclick="get(4)">→</a>,

    {% for line in object.get_grid.m %}
        <div class="row" id="row-{{ forloop.counter0 }}">{% for cell in line %}
            <div class="cell" id="cell-{{ forloop.counter0 }}">{{ cell }}</div>
        {% endfor %}</div>
    {% endfor %}

    <dl>
        <dt>Primary Key</dt>
        <dd id="pk">{{ object.pk }}</dd>
        <dt>Direction</dt>
        <dd id="direction">{% if direction %}{{ direction }}{% endif %}</dd>
        <dt>Slides</dt>
        <dd id="slides">{% if slides %}{{ slides }}{% endif %}</dd>
        <dt>pop</dt>
        <dd id="pop">{% if pop %}{{ pop }}{% endif %}</dd>
    </dl>
{% endblock %}

{% block bootstrap3_extra_script %}
    <script>
        function get(direction) {
            var url = '/move/' + $('#pk').text() + '/' + direction;
            $.get(url, function(data) {
                if (data.direction) { $('#direction').text(data.direction); }
                if (data.slides) { $('#slides').text(data.slides); }
                if (data.pop) { $('.cell').removeClass('pop'); var cell = $('#row-' + data.pop[0] + ' #cell-' + data.pop[1]); cell.addClass('pop'); cell.text(data.pop[2]); }
            });
        }
    </script>
{% endblock %}
